body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
  }
  
  /* .horizontal-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  } */
  
  .horizontal-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
  }
  
  .horizontal-menu li {
    margin-left: 20px;
  }
  
  .horizontal-menu li:first-child {
    margin-left: 0;
  }
  
  .center-image {
    display: block;
    margin: 0 auto;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  form input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
  }
  
  form button {
    padding: 5px 10px;
    background-color: #0e0e0e;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }

  footer {
    background-color: #040404;
    padding: 20px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto; 
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
  }
  
  /* .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  .made-by {
    margin-top: auto;
  }
  
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  p {
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fffdfd;
  }
  
  ul li {
    margin-bottom: 5px;
    color: #000000;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  